/* mensetting font dan ukuran bawaan */
body {
  background-image: url("background.avif");
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* untuk konten utamanya ada di tengah */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

/* mensetting ukuran lebar maksimum dari konten utama */
@media (min-width: 768px) {
  main {
    max-width: 800px;
  }
}

/* mensetting header */
header {
  background-color: #031c30;
  padding: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* mensetting font sama warna dari h1 */
h1 {
  color: #ffffff;
  font-size: 36px;
}

/* mensetting section */
section {
  margin: 30px auto;
  padding: 20px;
  background-color: #08243c;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* mensetting untuk h2 */
h2 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

/* mensetting untuk h3 */
h3{
  margin: 0;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 0;
  color: #ffffff;
  align-self: auto;
}

/* animasi ketikan */
.auto-input {
  display: inline-block;
  border-right: 0.15em solid rgb(255, 255, 255);
  padding-right: 2px;
  margin: 0 auto;
  white-space: nowrap;
  font-size: 2em;
  animation: blink-caret 0.75s step-end infinite;
}

/* biar ada blink blinknya */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}

/* setting margin dan padding untuk sensor */
section span {
  margin: 0;
  padding: 10px;
}

/* setting text untuk sensor */
section span {
  border-radius: 5px;
  font-size: 24px;
}

/* setting warna text dan auto tersusun untuk sensor */
section h2 {
  color: #ffffff;
  align-self: auto;
}
